*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.calc{
    position: fixed;
    top: 50vh;


width: 40%;
left: 30%;

}
#aff{
    position: relative;
    height: 5vh;
    width: 50%;
  
   top: 45%;
   left: 30%;
   outline: none;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 12px;
   color: orange;
   font-weight: bold;
   border: 0.1px;
   -webkit-box-shadow: 20px 20px 50px 15px grey;
           box-shadow: 20px 20px 50px 15px grey;
   background: white;
   cursor: pointer;
   border-radius: 40px;
}
.btn{
  position: relative;
  height: 10%;
  width: 10%;
  top: 45%;
  left: 35%;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: orange;
  font-weight: bold;
  border: 0.1px;
  -webkit-box-shadow: 20px 20px 50px 15px grey;
          box-shadow: 20px 20px 50px 15px grey;
  background: white;
  cursor: pointer;
  border-radius: 40px;
}